.mybody{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
}

.cont1
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    color: white;
    font-weight: 600;
}

.profile
{
    all: unset;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
}

.profile:hover
{
    background-color: #BAB700;
    color: black;
    font-weight: 600;
}