.mybody{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    margin-top: 25px;
}

.profile
{
    all: unset;
    font-weight: 600;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
}

.profile:hover
{
    background-color: #BAB700;
    color: black;
    font-weight: 600;
}


@media screen and (min-width: 768px)
{
    .mybody
    {
        flex-direction: row;
        width: 100%;
    }
    
}