.locations
{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    background-color: #0b0000;
}

.location
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.location button
{
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    color: white;
    background-color: red;
}

.location-title
{
    font-size: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.home-cords, .trip-cords
{
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 768px)
{
    .locations
    {
        width: 25%;
        height: 100vh;
        justify-content: center;
        position: fixed;
        top: 0;
        gap: 40px;
        z-index: 1;
    }
    
}