@media (min-width: 600px) 
{
    
    .main-container h2
    {
        font-size: 30px;
        width: 100%;
    }

    .form-container form input[type="text"]
    {
        width: 15rem;
    }

    .form-container
    {
        align-items: center;
    }

    .coming-list, .going-list
    {
        align-items: center;
    }

    .form-container h2
    {
        text-align: center;
    }

    .item button
    {
        height: 100%;
        padding: 10px 0px 20px 10px;
    }

    .item
    {   
        padding: 1rem;
        width: 30rem;
        gap: 25px;
    }

    .item p
    {
        width: 18rem;
        font-size: 18px;
    }

    .item input[type="checkbox"]
    {
        width: 2rem;
    }
}