.mybody{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
}

.cont1
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav
{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 10px;
    color: white;
    font-weight: 600;
}

.nav-item
{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #bde0fe;
    text-decoration: none;
    color: black;
}

.nav-item:hover
{
    background-color: #BAB700;
    color: black;
    font-weight: 600;
}

.nav-items-between
{
    display: flex;
    justify-content: center;
    gap: 20px;
}